body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  background-color: rgba(192, 192, 192, 0.466);
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.weather-form {
  padding-top: 20px;
}

.cityInput {
  padding: 10px;
  font-size: 1.4rem;
  font-weight: bold;
  border: 2px solid hsla(0, 0%, 65%, 0.637);
  border-radius: 5px;
  margin: 10px;
}

button[type="submit"] {
  padding: 10px;
  font-size: 1.4rem;
  font-weight: bold;
  border: none;
  border-radius: 5px;
  background-color: hsl(120, 79%, 37%);
  color: white;
  cursor: pointer;
  transition: background-color 0.1s;
}

button[type="submit"]:hover {
  background-color: hsl(120, 79%, 27%);
}

.card {
  background: linear-gradient(
    rgba(39, 176, 255, 0.61),
    rgba(255, 166, 0, 0.664)
  );
  padding: 30px;
  box-shadow: 2px 2px 5px hsla(0, 0%, 58%, 0.705);
  max-width: 400px;
  width: 90%;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 10px;
}

h1 {
  margin-top: 0px;
  margin-bottom: 10px;
}

.tempDisplay {
  font-size: 2rem;
}

p {
  font-size: 1.5rem;
  margin: 10px 0px;
}

.tempDisplay,
.cityDisplay {
  font-size: 3.5rem;
  font-weight: bold;
  margin: 10px;
  color: hsla(0, 0%, 9%, 0.829);
}

.humDisplay {
  font-weight: bold;
  margin-bottom: 25px;
}

.descDisplay {
  font-style: italic;
  font-weight: bold;
  font-size: 1.7rem;
}

.emojiDisplay {
  width: 200px;
  margin: 0;
  padding-top: 35px;
}

.errorDisplay {
  font-size: 2rem;
  font-weight: bold;
  color: hsla(0, 0%, 9%, 0.829);
}

@media only screen and (max-width: 600px) {
  body {
    padding: 10px;
    justify-content: center;
    text-align: center;
  }

  .card {
    width: 75%;
  }

  .tempDisplay,
  .cityDisplay {
    font-size: 2.5rem;
  }

  .descDisplay {
    font-size: 1.3rem;
  }

  .cityInput {
    width: 90%;
    font-size: 1.2rem;
  }

  button[type="submit"] {
    font-size: 1.2rem;
    padding: 8px;
  }
}
